a {
    text-decoration: none;
    color: white;
}
a:hover {
    border-bottom: 1px solid lightblue;
}
.user-container{
    background-color: #161b22;
    color: white;
}
.user-card {
    display: flex;
    height: 6vh;
}
.user-details {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.user-img {
    border-radius: 100%;
}